*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
}

#reader{
  width: 600px;
  height: 500px;
}

#qr-shaded-region{
  width: 100% !important;
}

#qr-canvas{
  width: 90% !important;
}

@media (max-width: 480px) {
  #reader {
    width: 100%;
    height: 0px;
  }
}